/***** BASE STYLES *****/
body {
  font-family: 'Source San Pro', sans-serif;
  color: #2b2b2b;
}

#about, #work, #contact {
  height: 600px;
}

/***** GRID *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
}

.third-width {
  width: 400px;
}

.half-width, .third-width {
  float:left;
}

/***** HEADER *****/
header {
  height: 800px;
  background: url('../img/hero-speech-bubble.png');
  /*****background-size: cover;*****/
  background-size: 1300px;
}

header h1 {
  color: #828282;
  font-family: 'Lora', serif;
  font-size: 36px;
  padding: 65px 0 65px 25px;
}

nav {
    float: right;
    padding: 75px 10px 0 30px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    color: #828282;
    padding-left: 80px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Gayathri', sans-serif;
    font-size: 72px;
    line-height: 80px;
    color: #46536e;
    padding: 20px 0 0 215px;
}
header h2 span {
    color: #e37d46;
}

header p {
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
  color: #46536e;
  padding: 0 0 20px 235px;
}

/***** ABOUT *****/
#about .full-width {
  padding: 80px 0;
}

#about h2 {
    color: #46536e;
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}

#about p {
    font-size: 21px;
    color: #46536e;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

/***** WORK *****/
#work {
  background-color: #eba17a;
  text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 32px;
    width: 215px;
    margin: 0 auto;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}


/***** CONTACT *****/
#contact {
  background-color: #EBEBEB;
}

#contact .full-width {
    padding: 110px 0;
}

#contact-image {
    margin-left: 25px;
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    color: #46536e;
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
    padding-top: 45px;
}

#contact h3 {
  color: #46536e;
}

#contact #email-header{
    font-size: 32px;
    font-weight: lighter;
    line-height: 44px;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-left: 20px;
    padding-right: 48px;
}
